---
import { storyblokEditable, renderRichText } from "@storyblok/astro";

const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.content);
---

<article {...storyblokEditable(blok)}>
  <img
    class="w-full h-72 sm:h-96 lg:h-[450px] object-cover sm:rounded-xl"
    alt={blok.image.alt}
    src={`${blok.image.filename}/m/1600x0`}
  />
  <div class="container mx-auto mb-12">
    <h1 class="text-6xl text-[#50b0ae] font-bold mt-12 mb-4">
      {blok.title}
    </h1>
    <h2 class="text-2xl opacity-70 font-bold mb-4">
      {blok.description}
    </h2>
    <div class="prose opacity-70" set:html={renderedRichText} />
  </div>
</article>