---
import ArrowUpRightIcon from "./ArrowUpRightIcon.astro";
const { article } = Astro.props;
---

<a
  href={`/blog/${article.slug}`}
  class="rounded-md overflow-hidden cursor-pointer group max-w-[475px] flex flex-col bg-zinc-800 transition ease-in-out duration-200">
  <div class="overflow-hidden flex h-64">
    <img
      class="object-cover object-center rounded-t-md w-full h-full flex group-hover:scale-110 transition ease-in-out duration-500"
      src={`${article.image.filename}/m/360x240`}
      alt={article.image.alt}
    />
  </div>
  <div class="p-8 text-white w-full flex flex-col justify-center">
    <h1
      class="text-2xl font-semibold xl:text-3xl group-hover:text-primary transition ease-in-out duration-500">
      {article.title}
    </h1>
    <div class="flex gap-4 text-zinc-300 items-center">
      <p class="line-clamp-2 mt-1">
        {article.description}
      </p>
      <ArrowUpRightIcon
        classname="group-hover:rotate-45 transition ease-in-out duration-500"
      />
    </div>
  </div>
</a>
