---
const { article } = Astro.props
// console.log("article:", article)
---
 
<a  href={`/blog/${article.slug}`} class="bg-gray-800 rounded-xl cursor-pointer flex hover:shadow-md hover:shadow-zinc-500/50">
  <img
    class="object-cover object-center w-full h-full rounded-l-xl"
    src={`${article.image.filename}/m/360x240`}
    alt={article.image.alt}
  />
  <div class="p-4 bg-zinc-800 text-white rounded-r-xl ">
    <h1 class="text-2xl font-semibold lg:text-3xl">
      {article.title}
    </h1>
    <p class=" text-zinc-300 line-clamp-2 my-4">
      {article.description}
    </p>
    
  </div>
</a>